<h1>In dev mode</h1>

<% if current_user %>
  Signed in as <strong><%= current_user.name %></strong>!
  <%= link_to "Sign out", signout_path, id: "sign_out" %>
<% else %>
  <div>
    <%= link_to 'Sign In', new_user_session_path %>
  </div>
  <div>
    <%= link_to 'Sign Up', new_user_registration_path %>
  </div>
  <div>
    <%= link_to 'Sign In with Linkedin', 'auth/linkedin' %>
  </div>
  <div>
    <%= link_to 'Sign In with Facebook', 'auth/facebook' %>
  </div>
  <div>
    <%= link_to 'Sign In with Twitter', '/auth/twitter' %>
  </div>
  <div>
    <%= link_to 'Sign In with VK', 'auth/vkontakte' %>
  </div>
<% end %>
