<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category_product.name %>
</p>

<p>
  <b>Url:</b>
  <%= @category_product.url %>
</p>


<%= link_to 'Edit', edit_category_product_path(@category_product) %> |
<%= link_to 'Back', category_products_path %>
